@charset "utf-8";
/*base*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{ width:100%; height:100%; text-align:left; font-size:16px; font-weight:400; font-family:"Noto Sans","Noto Sans KR", Helvetica, Tahoma, Verdana, Arial, AppleGothic, UnDotum, '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif; color:#494A4B; line-height:1.6; letter-spacing: -0.025em; -webkit-overflow-scrolling:touch; }
body,p,h1,h2,h3,h4,h5,h6,table,caption,form,fieldset,legend,span,div,th,td,address,nav{margin:0; padding:0; }
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0px}
img{ border:0 none; line-height:0; font-size:0; vertical-align:top; }
main,header,section,nav,footer,aside,article,figure{ display:block; }
table{border-collapse:collapse; border-spacing:0; width:100%}
fieldset{border:0}
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0; position:absolute; left:-99999px; }
textarea{border:2px solid #dbdbdc; padding:8px 10px !important; line-height:18px; resize:none; }
input, textarea { vertical-align:middle; font-size:14px; color:#494A4B; font-family:"Noto Sans KR", Helvetica, Tahoma, Verdana, Arial, AppleGothic, UnDotum, '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif; padding:0; margin:0; }
input[type="checkbox"] { width:12px; height:12px; margin-right:7px;}
input[type="radio"] { width:13px; height:13px; border:none; }
input[type="file"]{height:22px; color:#666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff}
input.text{height:18px; padding:8px 10px; border:2px solid #dbdbdc; }
input.date{margin:0 3px 0 0; width:110px}
em { font-style:normal; }
iframe { border:none; }
strong { font-weight:bold; }
a { color:#000000; text-decoration:none; }
*:focus { position: relative; box-shadow:none;  -webkit-box-shadow:none; outline: 1px dotted #000;}
/* *:focus::before { position: absolute; content: ''; width: 100%; height: 100%; left: 0px; top: 0px; border: 1px dotted #000; } */
hr { border:0; background-color: #D5D5D5; margin:0; height:1px; }
button { padding:0; border:none; cursor:pointer; font-family:inherit; background:none; border-radius:0; }
/* sbkim */
h1,h2,h3,h4,h5,h6 { line-height: 1.25em !important; font-weight: 700 !important; letter-spacing: -0.04em;}
/* common */
.hide { display:none; }
.of-hi { overflow:hidden !important; }
.fl-l { float:left !important; }
.fl-r { float:right !important; }
.cl-b { width:0; height:0; font-size:0; line-height:0; clear:both;}
.va-m { vertical-align:middle !important;}
.va-t { vertical-align: top !important;}
.max { width:100%; }
.ta-c { text-align:center !important; }
.ta-l { text-align:left !important; }
.ta-r { text-align:right !important; }
.clear { display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear:after { display:block; visibility:hidden; height:0; font-size:0; clear:both; content:'';}
.w100 { width:100% !important; }
.ellipse { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.ellipse.lh2 { white-space: normal; line-height: 1.25; height: 2.5em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.ellipse.lh3 { white-space: normal; line-height: 1.25; height: 3.75em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.ellipse.lh4 { white-space: normal; line-height: 1.25; height: 5em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.ellipse.lh5 { white-space: normal; line-height: 1.25; height: 6.25em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; }
.uppercase { text-transform: uppercase; }

.mt0 { margin-top: 0 !important;}
.mt4 { margin-top: 4px !important; }
.mt8 { margin-top: 8px !important; }
.mt12 { margin-top: 12px !important; }
.mt16 { margin-top: 16px !important; }
.mt24 { margin-top: 24px !important; }
.mt32 { margin-top: 32px !important; }
.mt40 { margin-top: 40px !important; }
.mt48 { margin-top: 48px !important; }
.mt56 { margin-top: 56px !important; }
.mt64 { margin-top: 64px !important; }
.mt72 { margin-top: 72px !important; }
.mt80 { margin-top: 80px !important; }
.mt96 { margin-top: 96px !important; }
.mt112 { margin-top: 112px !important; }
.mt128 { margin-top: 128px !important; }
.mt144 { margin-top: 144px !important; }
.mt160 { margin-top: 160px !important; }

.mb0 { margin-bottom: 0 !important;}
.mb4 { margin-bottom: 4px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb16 { margin-bottom: 16px !important; }
.mb24 { margin-bottom: 24px !important; }
.mb32 { margin-bottom: 32px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb48 { margin-bottom: 48px !important; }
.mb56 { margin-bottom: 56px !important; }
.mb64 { margin-bottom: 64px !important; }
.mb72 { margin-bottom: 72px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb96 { margin-bottom: 96px !important; }
.mb112 { margin-bottom: 112px !important; }
.mb128 { margin-bottom: 128px !important; }
.mb144 { margin-bottom: 144px !important; }
.mt160 { margin-bottom: 160px !important; }

.mr0 { margin-right:0px !important; }
.mr4 { margin-right:4px !important; }
.mr8 { margin-right:8px !important; }
.mr12 { margin-right:12px !important; }
.mr16 { margin-right:16px !important; }
.mr32 { margin-right:32px !important; }
.ml0 { margin-left:0px !important; }
.ml4 { margin-left:4px !important; }
.ml8 { margin-left:8px !important; }
.ml12 { margin-left:12px !important; }
.ml16 { margin-left:16px !important; }
.ml32 { margin-left:32px !important; }

.pt0 { padding-top: 0 !important;}
.pt8 { padding-top: 8px !important; }
.pt12 { padding-top: 12px !important; }
.pt16 { padding-top: 16px !important; }
.pt24 { padding-top: 24px !important; }
.pt32 { padding-top: 32px !important; }
.pt40 { padding-top: 40px !important; }
.pt48 { padding-top: 48px !important; }
.pt56 { padding-top: 56px !important; }
.pt64 { padding-top: 64px !important; }
.pt72 { padding-top: 72px !important; }
.pt80 { padding-top: 80px !important; }
.pt96 { padding-top: 96px !important; }
.pt112 { padding-top: 112px !important; }
.pt128 { padding-top: 128px !important; }
.pt144 { padding-top: 144px !important; }
.pt160 { padding-top: 160px !important; }

.pl0 { padding-left: 0 !important;}

.pb0 { padding-bottom: 0 !important;}
.pb8 { padding-bottom: 8px !important; }
.pb12 { padding-bottom: 12px !important; }
.pb16 { padding-bottom: 16px !important; }
.pb24 { padding-bottom: 24px !important; }
.pb32 { padding-bottom: 32px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb48 { padding-bottom: 48px !important; }
.pb56 { padding-bottom: 56px !important; }
.pb64 { padding-bottom: 64px !important; }
.pb72 { padding-bottom: 72px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb96 { padding-bottom: 96px !important; }
.pb112 { padding-bottom: 112px !important; }
.pb128 { padding-bottom: 128px !important; }
.pb144 { padding-bottom: 144px !important; }
.pb160 { padding-bottom: 160px !important; }

.pr16 { padding-right: 16px !important; }

/* #wrap {  width: 100%; min-width: 320px; padding: 0 24px;};
.contents { padding-top: 44px; } */