@charset "utf-8";

.fixed_button { position: fixed; left: 0; bottom: 0; width: 100%; }
.fixed_button button { display: block; width: 100%; padding: 16px; background-color: #F9BE20; color: #ffffff; font-size: 18px; font-weight: bold; }